:root {
  --chart-transition: 0.5s;
}

.chart-wrapper-1 {
  position: relative;
  display: grid;
  place-items: center;
  -webkit-transition: var(--chart-transition);
  -moz-transition: var(--chart-transition);
  -ms-transition: var(--chart-transition);
  transition: var(--chart-transition);
  overflow: hidden;
}

.chart-wrapper-1 h1 {
  font-size: 2rem;
  font-weight: 300;
}

.fa-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  color: var(--carnelian);
  z-index: 1;
}

.fa-redo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 3rem;
}

.fa-circle:hover, .fa-redo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.chart-wrapper-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.chart {
  height: 100%;
}