.view {
  height: 100%;
}

.view, .filters, .specific-printers input {
  width: 100%;
}

.filters {
  font-size: 2rem;
  padding: 20px 1vw;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}

.filters>div {
  padding: 0 1.5vw;
  display: flex;
}

.filters>div>* {
  align-self: center;
}

.filters input {
  color: inherit;
  box-shadow: 0 0 7px 3px var(--light-grey);
  border: none;
  border-radius: var(--border-radius);
  padding: 3px 7px;
  height: 90%;
  font-size: 1.4rem;
}

.bins, .timespan, .specific-printers {
  border-right: 3px solid var(--charcoal);
}

.timespan>div {
  position: relative;
  height: 100%;
  display: flex;
}

.timespan input {
  text-indent: 2rem;
}

.timespan>div .fa-calendar-alt {
  position: absolute;
  left: 7px;
  top: 3px;
}

.timespan>span {
  margin: 0 10px;
}

.bins>span:hover, .full-screen:hover {
  cursor: pointer;
  color: var(--carnelian);
}

.full-screen .fa-expand, .bins .one-day {
  margin-right: 10px;
}