header {
  background-color: var(--white);
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--platinum);
  text-align: center;
  position: relative;
  font-size: 3rem;

}

header a {
  color: var(--carnelian) !important;
  font-family: 'Canon Display', sans-serif;
  line-height: var(--header-height);
}

header .header-notification {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
header .header-notification:hover {
  cursor: pointer;
}

div[data-id=tooltip] {
  font-size: 1rem;
}

/* Tablet */

@media only screen and (max-width: 1170px) {
  :root {
    --header-height: 70px;
  }

  header {
    font-size: 2rem;
  }

  div[data-id=tooltip] {
    font-size: 0.8rem;
  }
}

/* Mobile */

@media only screen and (max-width: 630px) {
  :root {
    --header-height: 60px;
  }

  header {
    font-size: 1.5rem;
  }

  div[data-id=tooltip] {
    font-size: 0.6rem;
  }
}